.home-btn {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.home-btn:hover {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 100px;
    transition: background-color 200ms ease-in-out;
}