* {
  box-sizing: inherit; 
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font: 1.2em sans-serif;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-grey-50);
}
