.logo-header {
    height: 60px;
    width: 60px;
    margin-left: 16px;
}

.header {
    position: sticky;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    z-index: 20;
    display: flex;
    align-items: left;
    justify-content: space-between;
    border: gray;
}