.home-pres-img {
    width: 30%;
}

.title {
    font-size: "85px";
    top: 4rem;
    margin-right: 40rem;
}

.pres-txt {
    width: 60%;
}

.presentation {
    margin-top: 3rem;
    justify-content: space-between;
    display: flex;
}