@font-face {
    font-family: Moderniz;
    src: url(../../assets/font/Moderniz.otf);
}


.home-pres-img {
    width: 30%;
}

.title {
    font-size: "85px";
    top: 4rem;
    margin-right: 40rem;
    font-family: Moderniz;
}

.pres-txt {
    width: 60%;
    margin-left: 20px;
}

.presentation {
    margin-top: 3rem;
    justify-content: space-between;
    display: flex;
}